# Dependencies
node_modules

# Build outputs
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode
.idea

# Git
.git
.gitignore

# Docker
Dockerfile*
.dockerignore
