# KIRHA_API_KEY is your API key for Kirha, can be found in your Kirha dashboard.
KIRHA_API_KEY=

# KIRHA_VERTICAL is the ID of the vertical you want to use. You can find this in your Kirha dashboard under the vertical settings.
KIRHA_VERTICAL=